.postTypeHeader {
    margin: 20px;
    color: #ffaf1b;
    font-size: 20px;
    font-family: "Stretch Pro";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
}

.postTypeSelect {
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.476);
    border: none;
    border-radius: 2px;
    padding: 2px;
    width: 162px;
    color: rgba(0, 0, 0, 0.631);
}

.formWrapper {
    display: flex;
    font-family: abeatbyKai;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 20px;
    margin-top: 251px;
  }

  .gigFormWrapper {
    display: flex;
    font-family: abeatbyKai;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 20px;
    margin-top: 259px;
  }

  .blogFormWrapper {
    display: flex;
    font-family: abeatbyKai;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 5px;
  }

.formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:#ffaf1b;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
    background: linear-gradient(to right, rgba(127, 0, 0, 0.408), #574a824f, #00000060,#feb32864);
    background-clip: border-box;
}

.formContainersWrapper {
    display: flex;
}

.leftContainer {  
    padding: 20px;
    text-align: center;
    width: 200px;
    display: flex;
    margin: 15px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
    background-color:  rgba(31, 31, 31, 0.716);
    background-clip: border-box;
}

.formTitle {
    color: #ffaf1b;
    font-size: 20px;
    font-family: "Stretch Pro";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
  }

.formType {
  color: #ffaf1b;
  font-size: 20px;
  font-family: "Stretch Pro";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
}



.rightContainer {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  margin: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
  background-color:  rgba(31, 31, 31, 0.716);
  background-clip: border-box;
}

.rightContainer .set {
  display: flex;
  width: 800px;
  margin: 10px;
  padding: 1px;
}

.rightContainer input {
    display: flex;
    padding-bottom: 1%;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.476);
    border: none;
    border-radius: 2px;
    padding: 6px;
    width: 150px;
    color: black;
}

.rightContainer input::placeholder {
    color: rgba(0, 0, 0, 0.631);
  }

.postFormLabel { 
    width: 30px;
}

.rightContainer header {
  padding: 40px;
}

.thumbnailPlaceholder {
    width: 40px;
}

.thumbnail {
    width: 300px;
    flex-wrap: wrap;
    line-height: .01;
}

.thumbnailUpload {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    border: 5px solid rgb(31, 31, 31);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.393);
    z-index: 2;
    margin-left: 40px;
}

#thumbnailPrompt {
    font-size: 11px;
}

.postFormDisclaimer {
    font-size: 9px;
    margin-left: 95px;
    color: rgba(182, 182, 182, 0.631);
}

.eventFormSelectCategory {
    display: flex;
    padding-bottom: 1%;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.476);
    border: none;
    border-radius: 2px;
    padding: 2px;
    width: 162px;
    color: rgba(0, 0, 0, 0.631);
}

.formDescription {
    display: column;
}

.eventFormDescriptionBox {
    margin-top: 20px;
    width: 500px;
    height: 175px;
    display: flex;
    padding-bottom: 1%;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.476);
    border: none;
    border-radius: 2px;
    padding: 6px;
    color: black;
}

.gigFormDescriptionBox {
    margin-top: 20px;
    width: 500px;
    height: 100px;
    display: flex;
    padding-bottom: 1%;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.476);
    border: none;
    border-radius: 2px;
    padding: 6px;
    color: black;
}

.formRestrictions .radio-container {
    font-family: abeatbyKai;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 6px;
    color: rgba(182, 182, 182, 0.631);

}

footer {
    align-items: center;
    display: grid;
    padding: 5px 10px;
    background: transparent;
    background-clip: border-box;
}

.submit {
  display: flex;
  width: 800px;
  margin: 10px;
  padding: 1px;
  border-radius: 0.5rem;
}

.postSubmitButton {
    --color: #ffaf1b;
    --color2: rgb(30, 24, 10);
    padding: 0.5em 1em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
  }  

  .postSubmitButton::after, .postSubmitButton::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .postSubmitButton::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .postSubmitButton:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .postSubmitButton:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .postSubmitButton:hover {
    color: var(--color2);
   }
   
   .postSubmitButton:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

footer #back {
  background: #fff;
  transition: .2s all ease-in-out;
}

footer #back:hover {
  background: #171A2B;
  color: white;
}

footer #next {
  background: #807182;
  border: 1px solid transparent;
  color: #fff;
}

footer #next:hover {
  background: #171A2B;
}


.radio-container {
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .2s all ease-in-out;
  width: 100px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background: #ffaf1b;
  color: black;
  border: 1px solid var(--form-border-color);
}