#body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(22, 20, 24);
    color: #eee;
    user-select: none;
  }

  .contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }

  .eventButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eventContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 640px;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.16) 1px 1px 10px;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
    margin-top: -40px;
    margin-right: 10px;
  }
  
  .mapContainer {
    flex: 1;
    height: 500px;
    margin-top: 60px;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.16) 1px 1px 10px;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
  }

  .leaflet-container {
    max-height: 100vh;
    max-width: 100vh;
  }

  .eventCard {
    font-family: Azonix;
    font-weight: Bold;
    user-select: none;
    margin: 0.5rem;
    background-color: #282c34;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(12, 0, 23, 0.665) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    max-width: 175px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-block: 5px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .eventCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.294));
    transition: opacity 0.3s ease-in-out;
  }
  
  .eventCard:hover::before {
    opacity: 1;
  }

  .eventCard hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
    
  }
  
.main {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    

.thumbnail{
    border-radius: .5rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
  }

.eventTitle {
    font-family: Azonix;
    font-size: 12px;
    margin-bottom: -10px;
    text-align: left;
    text-shadow: 0 0 6px #a89ec99e;
  }
  

.subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-shadow: 0 0 5px #a89ec971;
}

.eventDate {
    font-size: 10px;
    font-family: Adam;
    font-weight: 100;
    align-items: left;
    text-align: left;
    
  }

.ageRestriction {
    font-size: 11px;
    font-weight: normal;
    align-items: right;
    text-align: right;

  }

.subtTitle,
.venue {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}
  
.description {
    margin: .5rem 0;
    color: #a89ec9;
    margin-top: 10px;
    font-size: 10px;
    line-height: 1.5;
    width: 100%;
    display: block;
    display: block;
    max-height: 150px; 
    overflow: auto;
    font-family: Adam;
  }

  .description::-webkit-scrollbar {
    width: 8px;
  }
  
  .description::-webkit-scrollbar-track {
    background-color: #f1f1f100;
  }
  
  .description::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .description::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.tickets {
    margin: .5rem 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 9.5px;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #8d0c0c;
    font-weight: 500;
    text-shadow: 0 0 10px #000000c8;
  }

.ticketButtonContainer {
    margin: 10px;
}

.ticketButton {
    font-family: abeatbyKai;
    color: black;
    font-weight: 500;
    background-color: #8d0c0c;
    border-radius: 80px;
    box-shadow: rgba(187, 146, 44, 0.1) 0 1px 2px, rgba(187, 146, 44, 0.1) 0 2px 4px, rgba(187, 146, 44, 0.1) 0 4px 8px, rgbargba(187, 146, 44, 0.1) 0 8px 16px, rgba(187, 146, 44, 0.1) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 9px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ticketButton:hover {
    box-shadow: rgba(187, 44, 44, 0.15) 0 1px 2px, rgba(187, 44, 44, 0.15) 0 2px 4px, rgba(187, 44, 44, 0.15) 0 4px 8px, rgba(187, 44, 44, 0.15) 0 8px 16px, rgba(187, 44, 44, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.eventInfo {
    text-align: left;
    flex-wrap: wrap;
  }
  
.venue {
    color: #a89ec9;
    font-weight: 550;
    font-size: 9px;
    text-align: left;
  }
  
.venue ins {
    margin-right: .5rem;
  }
  
  
.location {
    color: #ffaf1b;
    font-size: 9px;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: left;
  }
  
.location ins {
    margin: .5rem;
    margin-bottom: .4rem;
  }
  
.artist {
    display: inline-block;
    align-items: left;
    color: #a89ec9;
  }

.artist p {
    font-size: 9px; 
  }
  
.artform {
    color: white;
    text-decoration: none;
    line-height: 1.2;
  }

  .addButtonDiv {
    display: flex;
    justify-content: space-between;
    align-items: right;
  }

  .addButton {
    font-family: abeatbyKai;
    color: black;
    font-weight: 500;
    width: 100%;
    background-color: #8d0c0c;
    border-radius: 80px;
    box-shadow: rgba(187, 146, 44, 0.1) 0 1px 2px, rgba(187, 146, 44, 0.1) 0 2px 4px, rgba(187, 146, 44, 0.1) 0 4px 8px, rgbargba(187, 146, 44, 0.1) 0 8px 16px, rgba(187, 146, 44, 0.1) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 9px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.addButton:hover {
    box-shadow: rgba(187, 44, 44, 0.15) 0 1px 2px, rgba(187, 44, 44, 0.15) 0 2px 4px, rgba(187, 44, 44, 0.15) 0 4px 8px, rgba(187, 44, 44, 0.15) 0 8px 16px, rgba(187, 44, 44, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#addButton {
    margin-top: 5px
}

.eventButtonContainer {
    display: flex;
    justify-content: left;
    margin-left: 290px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
.eventButton {
    --color: #ffaf1b;
    --color2: rgb(30, 24, 10);
    padding: 0.5em 1em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
  }  

  .eventButton::after, .eventButton::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .eventButton::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .eventButton:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .eventButton:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .eventButton:hover {
    color: var(--color2);
   }
   
   .eventButton:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
  
