.parallax {
    margin-top: -150px;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 638px;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#stage {
  background-image: url("https://i.imgur.com/ObYwrS2.png");
}

#singer {
  background-image: url("https://i.imgur.com/hyKEoTj.png");
}

#foreground {
  background-image: url("https://i.imgur.com/2vJredb.png");
}

#midground {
  background-image: url("https://i.imgur.com/2olocDo.png");
}

#background {
  background-image: url("https://i.imgur.com/FDEVN95.png");
}

#about {
    margin-top: -10px;
    background-color: #000000;
    height: 100vh;
  }
  
  #about-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  #about-title {
    flex: 1;
    color: #ffaf1b;
    font-size: 35px;
    font-weight: 600;
    font-family: "Stretch Pro";
  }
  
  #about-content {
    color: #ffaf1b;
    font-size: 20px;
    font-family: "Adam";
  }

  #pullup {
    color: #ffaf1b;
    font-size: 20px;
    font-family: "Stretch Pro";
  }
  
  #about-footer {
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 400;
    position: fixed;
    width: 100%;
    bottom: 0px;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom: 20px;
  
  }
  
  #about-footer {
    text-decoration: none;
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 600;
  }

  .button-container {
    align-items: center;
    margin-top: 1.5rem;
  }

  .button {
    --color: #ffaf1b;
    --color2: rgb(30, 24, 10);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .button::after, .button::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .button:hover {
    color: var(--color2);
   }
   
   .button:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

  