.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 738px;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#stage {
  background-image: url("https://i.imgur.com/ObYwrS2.png");
}

#singer {
  background-image: url("https://i.imgur.com/hyKEoTj.png");
}

#foreground {
  background-image: url("https://i.imgur.com/KqSLXWu.png");
}

#midground {
  background-image: url("https://i.imgur.com/OfOfUf0.png");
}

#background {
  background-image: url("https://i.imgur.com/FDEVN95.png");
}