.categoryContainer {
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-bottom: 30px;
  justify-content: flex-end; 
  width: 50px;
}

.categoryContainer select {
  appearance: none; /* Remove default styling */
  padding: 4px 8px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #a89ec98e; /* Add border style */
  background: linear-gradient(0deg, #88888855, 0%, rgba(12, 0, 23, 0.665) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  color:#ffaf1b;
  cursor: pointer; /* Add cursor style */
}

/* Style the arrow icon */
.categoryContainer select::after {
  content: "\25BE"; /* Unicode for down arrow */
  position: absolute;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(12, 0, 23, 0.665) 100%);
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the options */
.categoryContainer select option {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(12, 0, 23, 0.665) 100%);
  color:#ffaf1b;
  font-family: abeatbyKai;
}

/* 
.categoryLinks {
  font-family: abeatbyKai;
  margin-left: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(209, 209, 209);
  transition: transform 0.3s ease-in-out;
  color: #ffaf1b;
  cursor: pointer;
  font-size: 12px;
}

.categoryLinks:hover,
.categoryLinks:visited {
  text-decoration: none;
  color: #ffaf1b;
  transform: scale(1.1); 
} */

.searchBarBox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search {
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 20%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
  
.search:hover {
    cursor: pointer;
  }
  
.search::before {
    content: "";
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  
.search::after {
    content: "";
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: 2px solid white;
    transition: all 0.5s;
  }
  
  .searchContainer input {
    font-family: "abeatByKai";
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 40px;
    outline: none;
    border: none;
    background: #8d0c0c;
    color: white;
    text-shadow: 0 0 10px #8d0c0c;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 #8d0c0c, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 1;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    
  }
  
  .searchContainer input:hover {
    cursor: pointer;
  }
  
  .searchContainer input:focus {
    width: 200px;
    opacity: 1;
    cursor: text;
  }
  
  .searchContainer input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  
  .searchContainer input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  
  .searchContainer input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  
  .searchContainer input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }

  .searchOuterCell{
    margin-bottom: 30px;
  }